<div>
  <h3>{{announcement.date}}'s News</h3>
  <p>{{announcement.sales}}</p>
  <p>{{announcement.weather}}</p>
  <p>{{announcement.news}}</p>
  <button {{action 'delete' announcement}}>Delete</button>
</div>
